<%- include("partials/header") %>

</div>
<div class="container">
  <form action="/results" method=get class="searchBar">
    <input type="text" name="search" placeholder="Star Wars" id="type">
    <input type="submit" value="Search" class="btn-lg btn-primary">
  </form>
</div>

<%- include("partials/footer") %>